* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color:  var(--Very-Light-Gray);
}
h1{
  color: var(--Grayish-Blue);
  font-weight: 400;
  font-size: 18pt;
}
h2, span {
  color: var(--Very-Dark-blue);
  font-size: 16pt;
  margin-bottom: 10px;
}
p {
  font-size: 9pt;
  color: var(--Grayish-Blue)
}
:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}
.container {
  padding: 80px 10px 80px 10px;
}

/* ############################## HEADER #################################*/

header  div  {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}
header div span {
  font-weight: 700;
  font-size: 18.8pt;
}
header div p {
  font-size: 11pt;
  width: 300px;
  margin: 20px auto;
}

/* ############################## MAIN ####################################*/
 
.supervisor, .team, .karma, .calculator {
  margin: 70px auto -45px;
  width: 300px;
  border-top: 5px solid var(--Cyan);
  border-radius: 5px;
  padding: 20px 25px 120px;
  background-color: white;
  box-shadow: 0px 9px 34px 0px rgba(0,0,0,0.21);
  background-image: url(/asstes/img/icon-supervisor.svg);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 85%;
  background-size: 18%;
}
.team {
  background-image: url(/asstes/img/icon-team-builder.svg);
  border-top: 5px solid var(--Red);
  width: 300px;
}
.karma {
  background-image: url(/asstes/img/icon-karma.svg);
  border-top: 5px solid var(--Orange);
  width: 300px;
}
.calculator {
  background-image: url(/asstes/img/icon-calculator.svg);
  border-top: 5px solid var(--Blue);
  width: 300px;
}

/* ############################## MEDIA ####################################*/

@media  (min-width: 1200px) {
    main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 
            "c a d"
            "c b d";
      width: 1200px;
      margin: 0 auto;
    }
    header {
      width: 1200px;
      margin: 0 auto;
    }
    header div h1{
      font-size:  25pt;
    }
    header div span {
      font-size: 26pt;
    }
    header div p {
      font-size: 13pt;
      width: 600px;
    }
    p {
      font-size: 11pt;
    }
    h2 {
      font-size: 18pt;
    }
    .team {
      display: grid;
      grid-area: a;
    }
    .karma {
      display: grid;
      grid-area: b;
    }
    .supervisor {
      grid-area: c;
      margin-top: 210px;
      margin-right: -40px;
    }
    .calculator {
      grid-area: d;
      margin-top: 210px;
      margin-left: -40px;
    }
    .calculator, .supervisor, .karma, .team{
      height: 250px;
      width: 350px;
      display: grid;
    }
};
